# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-ppc64le
@EXPLICIT
https://repo.anaconda.com/pkgs/main/linux-ppc64le/_libgcc_mutex-0.1-main.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-ppc64le/blas-1.0-openblas.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-ppc64le/ca-certificates-2020.12.8-h6ffa863_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/ld_impl_linux-ppc64le-2.33.1-h0f24833_7.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/libgfortran-ng-7.3.0-h822a55f_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-ppc64le/libstdcxx-ng-8.2.0-h822a55f_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-ppc64le/libgcc-ng-8.2.0-h822a55f_1.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/bzip2-1.0.8-h7b6447c_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-ppc64le/expat-2.2.9-he6710b0_2.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/jpeg-9b-hcb7ba68_2.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-ppc64le/libffi-3.3-he6710b0_2.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/libopenblas-0.3.10-h5a2b251_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/lz4-c-1.9.2-he6710b0_1.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/ncurses-6.2-he6710b0_1.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/openssl-1.1.1i-h140841e_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/xz-5.2.5-h7b6447c_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-ppc64le/yaml-0.2.5-h7b6447c_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/zlib-1.2.11-h7b6447c_3.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-ppc64le/hdf5-1.10.4-hb1b8bf9_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/libedit-3.1.20191231-h14c3975_1.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/libpng-1.6.37-hbc83047_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-ppc64le/libssh2-1.9.0-h1ba5d50_1.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/readline-8.0-h7b6447c_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-ppc64le/rhash-1.3.8-h1ba5d50_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-ppc64le/tk-8.6.10-hbc83047_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/zstd-1.4.5-h9ceee32_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/freetype-2.10.2-h5ab3b9f_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/krb5-1.18.2-h597af5e_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/libtiff-4.1.0-h2733197_1.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/sqlite-3.33.0-hbc83047_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/lcms2-2.11-h396b838_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/libcurl-7.71.1-h20c2e04_1.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/python-3.8.5-h3a5dbe6_1.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/certifi-2020.12.5-py38h6ffa863_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/chardet-4.0.0-py38h6ffa863_1003.conda
https://repo.anaconda.com/pkgs/main/noarch/click-7.1.2-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/cloudpickle-1.6.0-py_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/cmake-3.14.0-h52cb24c_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/decorator-4.4.2-py_0.conda
https://conda.anaconda.org/conda-forge/noarch/easydict-1.9-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/einops-0.3.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/idna-2.10-py_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/kiwisolver-1.2.0-py38hfd86e86_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/numpy-base-1.19.1-py38h75fe3a5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/olefile-0.46-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pycparser-2.20-py_2.conda
https://repo.anaconda.com/pkgs/main/noarch/pyparsing-2.4.7-py_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/pysocks-1.7.1-py38h6ffa863_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/pyyaml-5.3.1-py38h7b6447c_1.conda
https://repo.anaconda.com/pkgs/main/noarch/six-1.15.0-py_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/termcolor-1.1.0-py38_1.conda
https://repo.anaconda.com/pkgs/main/noarch/threadpoolctl-2.1.0-pyh5ca1d4c_0.conda
https://repo.anaconda.com/pkgs/main/noarch/toolz-0.11.1-py_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/tornado-6.0.4-py38h7b6447c_1.conda
https://repo.anaconda.com/pkgs/main/noarch/tqdm-4.50.2-py_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/typing-3.7.4.3-py38_0.conda
https://repo.anaconda.com/pkgs/main/noarch/wheel-0.35.1-py_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/cffi-1.14.2-py38he30daa8_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/cycler-0.10.0-py38_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/cytoolz-0.11.0-py38h7b6447c_0.conda
https://repo.anaconda.com/pkgs/main/noarch/dask-core-2.30.0-py_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/numpy-1.19.1-py38h30dfecb_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/pillow-7.2.0-py38haac5956_0.conda
https://repo.anaconda.com/pkgs/main/noarch/python-dateutil-2.8.1-py_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/setuptools-49.6.0-py38_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/brotlipy-0.7.0-py38h140841e_1003.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/cryptography-3.3.1-py38hb567c45_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/h5py-2.10.0-py38h7918eee_0.conda
https://repo.anaconda.com/pkgs/main/noarch/imageio-2.9.0-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/joblib-0.16.0-py_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/matplotlib-base-3.3.1-py38h8254106_0.conda
https://repo.anaconda.com/pkgs/main/noarch/networkx-2.5-py_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/pip-20.2.2-py38_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/pywavelets-1.1.1-py38h7b6447c_2.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/scipy-1.5.2-py38habc2bb6_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/tifffile-2020.10.1-py38hdd07704_2.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/matplotlib-3.3.1-0.conda
https://repo.anaconda.com/pkgs/main/noarch/pyopenssl-20.0.1-pyhd3eb1b0_1.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/scikit-image-0.17.2-py38hdf5156a_0.conda
https://repo.anaconda.com/pkgs/main/linux-ppc64le/scikit-learn-0.23.2-py38h0573a6f_0.conda
https://repo.anaconda.com/pkgs/main/noarch/urllib3-1.26.2-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/requests-2.25.1-pyhd3eb1b0_0.conda
